:root{
    --dark-navy-blue: #242830;
    --dark-gray: #586664;
    --light-gray: #9BACA9;
    --white: #D0D9D8;
    --brown: #927962;
    --dark-yellow: #746E25;
    --light-green: #455827;
    --dark-green: #1E301F;
}

html{
    height: 100vh;
}

body{
    height: 100%;
    background-image: url('./assets/tlou_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;    
    box-sizing: border-box;
    border: 10px solid var(--dark-navy-blue);
}


