:root{

    --dark-navy-blue: #242830;
    --dark-gray: #586664;
    --light-gray: #9BACA9;
    --white: #D0D9D8;
    --brown: #927962;
    --dark-yellow: #746E25;
    --light-green: #455827;
    --dark-green: #1E301F;
}